doctype html
html(lang="en")
  head
    style
      include ../test.css

    link(rel="icon" href="data:,")
    title= 'Node.js Template'
  body
    h1 Test1 #{name}
    h2= name
    div(class='home-link')
      a(href='http://localhost:5000') Home
    p(class='p_test') Test2 #{number}
    p(class='p_test')= number

    form(name="form1" action="test" method="GET" target="frame1")
      p Test:
      input(type="text" placeholder="Enter some text" name="testname")
      input(type="button" value="Send" onclick="submitform('form1');")
    br
    form(name="form2" action="test2" method="POST" target="frame1")
        p Test2:
        input(type="text" placeholder="Enter some other text" name="testname2")
        input(type="button" value="Send" onclick="submitform('form2');")

    iframe(class="frame1" name="frame1" width="500" height="200" title="frame1")
    br
    p Another spot...
    embed(width="500" height="200" name="frame1")
   
    script. 
      var name = "#{name}";
      var num = #{number};
      console.log(name, num);

      function submitform(f1){
        console.log("form name: " + f1);
        document.getElementsByName(f1)[0].submit();
        document.getElementsByName(f1)[0].reset();
      }